<div id="website_main_text">
		<h1>Andy THach</h1>
		<h3>A Junior Developer</h3>
</div>
<h1 id="page_title">Edit Post</h1>

<div class="skinny_wrapper wrapper_padding">

	<%= render 'form' %> 

</div>