#posts_wrapper {
	padding: 3em 0;
	.post {
		text-align: center;		
		.date {
			font-size: .9em;
		}
	h2 {
		margin: 0;
		font-size: 2em;
		text-transform: uppercase;
		font-weight: 600;
		a {
			text-decoration: none;
			color: $dark;
			&:hover {
				color: $highlight;
			}
		}
	}
	p {
		margin: 0;
	}
	}
	hr {
		margin: 3em auto;
	}
}

// --- POSTS SHOW

#post_show_content {
	header {
		text-align: center;
		.date {
			font-size: .9em;
			color: $light;
			margin: 0;
		}
		h1 {
			margin: 0;
			font-size: 2.5em;
		}
	}
	hr {
		margin: 3em auto;
	}
}

#content p, li {
	font-size: 1.7rem;
}

#content h1 {
	font-size: 3.5rem;
}

#content h2 {
	font-size: 3.0rem;
}

#content h3 {
	font-size: 2.5rem;
}

#content h4 {
	font-size: 2.0rem;
}

#share_box {
	text-align: center;
	p {
		padding: 0 0 1em 0;
		margin: 0;
		font-weight: 700;
		text-transform: uppercase;
		color: $dark;
		font-size: 1.8em;
	}
	i {
		color: $dark;
		padding: 1em .5em;
		&:hover {
		color: $highlight;
		cursor: pointer;
		}
	}
}

#admin_links {
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	text-align: center;
	padding: 1em 0;
	margin: 3em 0;
	a {
		color: $light;
		margin: 0 1em;
		font-weight: 700;
		font-size: .8em;
		text-transform: uppercase;
		text-decoration: none;
	}
}

















